GEMINI_API_KEY=""

APP_URL="https://haripathshala.online"

IMGBB_API_KEY="43284a40df1fa990fc3388b07296dd5e"

RAZORPAY_KEY_ID="rzp_live_TQNrlGK9ak72p9"
RAZORPAY_KEY_SECRET="DtMQMD7GwuYf5aDXKaipfYAJ"
RAZORPAY_LIVE_KEY_ID=""
RAZORPAY_LIVE_KEY_SECRET=""
VITE_RAZORPAY_KEY_ID=""

SHIPROCKET_EMAIL=""
SHIPROCKET_PASSWORD=""
